{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('index') }}">{{ 'accueil'|trans }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <a class="nav-link" href="{{ path('article_index') }}">{{ 'article.list'|trans }}</a>
            <a class="nav-link" href="{{ path('category_add') }}">{{ 'category.add'|trans }}</a>
            <a class="nav-link" href="{{ path('category_index') }}">{{ 'category.list'|trans }}</a>


                    {% if app.user %}
                    {% trans with {'%username%': app.user.email} %}
                        hello_username
                    {% endtrans %} !
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class=" dropdown-item" href="{{ path('app_login') }}"> {{ 'account.logout'|trans }}</a>
                </div>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}"> {{ 'account.login'|trans }}</a>


                {% endif %}
            </div>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Langue
                    </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/fr">FRANCAIS</a>
                    <a class="dropdown-item" href="/en">ANGLAIS</a>
                    <a class="dropdown-item" href="/es">ESPAGNOL</a>
                </div>
            </div>
        </div>
    </nav>

{% endblock %}

   {% block javascripts %}

       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   {% endblock %}


