{% extends 'templates/base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}

    <h2>{{ 'category.add'|trans }}</h2>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}



{% endblock %}