{% extends 'templates/base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1>{{ 'article.add'|trans }}</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">{{ 'retour.list'|trans }}</a>
{% endblock %}
